In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_theme(style="whitegrid")

print("All libraries were loaded successfully.")

All libraries were loaded successfully.

In [2]:
data_path = '../data/raw/watch_price_raw.csv'

try:
    df = pd.read_csv(data_path)
    print(f"Dataset loaded successfully. {df.shape[0]} rows, {df.shape[1]} columns.")
except FileNotFoundError:
    print(f"ERROR: File not found. Check path '{data_path}'.")

Dataset loaded successfully. 50000 rows, 18 columns.

In [3]:
df.head()

,Brand,Model,Gender,Case Diameter,Water Resistance,Case Color,Glass Shape,Origin,Case Material,Additional Feature,Strap Color,Warranty (Years),Strap Material,Mechanism,Glass Type,Dial Color,Weight (g),Price (USD)
0,Cartier,Tank,Male,44.4,5,Gold,Domed,FR,Alloy,Chronograph,Gold,1,Leather,Automatic,NaN,White,75.7,5696.08
1,Movado,Museum Classic,Unisex,39.2,20,Gold,Flat,CH,Steel,Alarm,White,2,Nylon,Quartz,Sapphire,Gold,135.1,2250.87
2,Swatch,Big Bold,Male,43.3,20,White,Domed,CH,Steel,Calendar,Blue,2,Metal,Quartz,Mineral,Black,138.0,1050.14
3,Girard-Perregaux,Laureato,Unisex,37.2,10,Gold,Flat,CH,Steel,Alarm,Brown,3,Silicone,Automatic,Mineral,Black,148.5,14902.11
4,Panerai,GMT,Unisex,36.6,5,White,Domed,IT,Steel,NaN,NaN,2,Metal,Automatic,Sapphire,Black,148.0,13024.82

In [ ]:
df.tail()

In [4]:
print("Dataset Information (df.info()):")
df.info()

Dataset Information (df.info()):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Brand               50000 non-null  object
 1   Model               50000 non-null  object
 2   Gender              50000 non-null  object
 3   Case Diameter       49014 non-null  float64
 4   Water Resistance    50000 non-null  int64
 5   Case Color          50000 non-null  object
 6   Glass Shape         50000 non-null  object
 7   Origin              50000 non-null  object
 8   Case Material       50000 non-null  object
 9   Additional Feature  39974 non-null  object
 10  Strap Color         49478 non-null  object
 11  Warranty (Years)    50000 non-null  int64
 12  Strap Material      50000 non-null  object
 13  Mechanism           49529 non-null  object
 14  Glass Type          49999 non-null  object
 15  Dial Color          50000 non-null  object
 16  Weight (g)          49514 non-null  float64
 17  Price (USD)         49048 non-null  float64
dtypes: float64(3), int64(2), object(13)
memory usage: 6.9+ MB

In [5]:
print("\nNumeric Columns Summary (df.describe()):")
df.describe().apply(lambda s: s.apply('{0:.2f}'.format))

Numeric Columns Summary (df.describe()):

      Case Diameter Water Resistance Warranty (Years) Weight (g) Price (USD)
count      49014.00         50000.00         50000.00   49514.00    49048.00
mean          38.44            10.08             2.00      91.85     6351.16
std            4.90            11.22             0.82      43.36     8391.95
min           28.00             3.00             1.00      46.70      534.74
25%           35.50             5.00             1.00      59.50     1003.12
50%           39.10            10.00             2.00      72.70     1581.14
75%           41.80            20.00             3.00     135.80     9696.26
max           70.00           200.00             3.00     499.30    51038.29

In [6]:
print("\nCategorical Columns Summary (df.describe(include='object')):")
df.describe(include=['object'])

Categorical Columns Summary (df.describe(include='object')):

,Brand,Model,Gender,Case Color,Glass Shape,Origin,Case Material,Additional Feature,Strap Color,Strap Material,Mechanism,Glass Type,Dial Color
count,50000,50000,50000,50000,50000,50000,50000,39974,49478,50000,49529,49999,50000
unique,29,226,3,6,3,10,3,4,6,4,3,3,5
top,Breitling,Classic,Male,Gold,Flat,CH,Alloy,Luminous,Black,Nylon,Quartz,Sapphire,Blue
freq,1802,597,16849,8468,16735,22709,16672,10044,8356,12602,21992,27974,10128